<h1>Lista de Cursos</h1>

<ul>
    <li>codigo: css111</li>
    <li>nome: Introdução á lógica de programação</li>
    <li>descrição: Bem vindo ao curso de introdução á lógica de programação,
        Aqui você irá encontrar os fundamentos para
        pensar como um programador
    </li>

    <li>codigo: css112</li>
    <li>nome: Introdução á estrutura de dados</li>
    <li>descrição: Bem vindo ao curso de introdução á estrutura de dados,
        Aqui você irá encontrar os fundamentos para
        estruturar as formas de dados de sua aplicação.
    </li>

</ul>